<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- my script & css -->
    <link href="./sweeplist.css" rel="stylesheet" type="text/css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app" class="app-area">
      <div class="d-flex align-items-center">
        <div class="form-ctn">
          <div class="g-3 align-items-center mb-3">
            <div class="col-auto">
              <label class="col-form-label">日期</label>
            </div>
            <div class="col-auto w-100">
              <input
                v-model="date"
                type="date"
                class="form-control"
                aria-describedby="passwordHelpInline"
              />
            </div>
          </div>

          <div class="g-3 align-items-center mb-4">
            <div class="col-auto">
              <label class="col-form-label">最後一位姓名</label>
            </div>
            <div class="col-auto w-100">
              <input
                v-model="lastPerson"
                type="text"
                class="form-control"
                aria-describedby="passwordHelpInline"
                placeholder="請輸入最後一位姓名"
              />
            </div>
          </div>

          <button type="button" class="btn btn-outline-info w-100 mb-3" @click="getList()">GO</button>
          <button type="button" class="btn btn-outline-info w-100" @click="cleanList()">RESTART</button>
        </div>

        <div>
          <div class="list-ctn">
            <ul v-if="showList" class="date-list-area list-group list-group-flush">
              <!-- 這裡需跑4天資料給我, 先寫出可以跑出正確日期的迴圈 -->
              <li v-for="(item, idx) in newDateList" :key="idx" class="mb-3">
                {{ item }}
              </li>
            </ul>
            <ul v-if="showList" class="name-list-area list-group-flush">
              <!-- 這裡需跑名單 -->
              <li v-for="(item, idx) in newCoWorker" :key="idx" class="mb-3">
                {{ item }}
              </li>
            </ul>
          </div>
          <div>
            每周五17:30為辦公室打掃時間
            <p>打掃內容為<span class="tips"> 1.掃地 2.拖地 3.倒垃圾</span> </p> 
          </div>
        </div>
      </div>
    </div>

    <script>
      Vue.config.devtools = true;
      new Vue({
        el: '#app',
        data: {
          showList: false,
          lastPerson: '',
          date: '',
          newDateList: [],
          coworkersName: [ 'Dora', 'Larry' , 'Harry', 'Jordan', 'Leo' ],
          newCoWorker: [],
        },
        methods: {
          getList() {
            // 判斷式裡面是要確定輸入值有在陣列裡
            // if( this.coworkersName.find(e => e == this.lastPerson) ) {
            //   let index = this.coworkersName.indexOf(this.lastPerson) // 找到當下值的index
            //   // 跑10次
            //   for(let i = index + 1; i <= index + 10; i++) {
            //     // console.log(i % 5);
            //     vm.newList.push(this.coworkersName[i % 5])
            //   }
            // }
            // return vm.newList;
            let vm = this;
            this.showList = true;
            if(this.coworkersName.find(e => e == this.lastPerson)) {
              if(this.date == '') {
                return
              }
              let date = new Date(this.date);
              for(let i = 0; i <= 3; i++) {
                date = new Date(date.setDate(date.getDate() + 7));
                this.newDateList.push(date.toLocaleDateString());
              }
              let index = this.coworkersName.indexOf(this.lastPerson);
              for(let i = index + 1; i <= index + 8; i++) {
                // console.log(i % 5);
                vm.newCoWorker.push(this.coworkersName[i % 5])
              }
            }
          },
          cleanList() {
            this.newDateList = [];
            this.newCoWorker = [];
            this.lastPerson = '';
            this.date = '';
          }
        }
      })
    </script>
  </body>
</html>
