.app-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-ctn {
  padding: 2rem;
  margin-right: 2rem;
  width: 330px;
  height: fit-content;
  border: 1px solid #dadada;
  border-radius: 1rem;
}
.list-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-list-area {
  width: 100px;
}
.name-list-area {
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  li {
    width: 50%;
  }
}
.tips {
  color: red;
}

// bootstrap
.list-group {
  list-style-type: none !important;
}