.ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  height: 100vh;
}
.form-ctn {
  padding: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 330px;
  height: fit-content;

  border: 1px solid #dadada;
  border-radius: 1rem;
}
.list-area {
  width: 330px;
}